
body  {
  margin: 0;
  padding: 0;
  height: 100vh;
  --darkmode-background:  #2F2F2F;
  --lightmode-background: #FFBC3A;
  --darkmode-elements: #BA8AF9;
  --header-light-background: #FBAE18;
  background-color: var(--lightmode-background);
  --darkmode-lighter-background: #404040;
  --darkmode-secondary-color: #464748;
  --darkmode-tools-background1: #5a5a5a;
}

body > div {
  /*display: flex;*/
  /*justify-content: space-between;*/
  /*height: 100%;*/
  /*width:100%;*/
}

body > nav {
  display: flex;
  justify-content: center;
  padding: 2em;
  background-color: var(--header-light-background);
  /*background-color: var(--darkmode-lighter-background);*/
}

/* Don't show back to lightmode link */
a[data-light] {
  display: none;
}

/* Darkmode toggle */
a[data-dark] {
  color: var(--darkmode-background);
  background-color: var(--lightmode-background);
  padding: 0.5em;
  text-transform: capitalize;
  font-size: 1.2em;
}

h2 {
  display: flex;
  justify-content: center;
}

/* body > div > aside:nth-child(3) > img:nth-child(1) */
body > div > header:nth-child(2) {
  display: flex;
  justify-content: center;
  padding: 1em;
  color: white;
}

body > div > header:nth-child(2) > p {
  background-color: brown;
  padding: 0.9em 6em;
}



body > div > header:nth-child(4) {
  margin-top: 12em;
  display: flex;
  justify-content: center;
  padding: 1em;
  color: white;
}

body > div > header:nth-child(4) > p {
  background-color: brown;
  padding: 0.9em 6em;
}

body > div > header:nth-child(6) {
  margin-top: 5em;
  display: flex;
  justify-content: center;
  padding: 1em;
  color: white;
}

body > div > header:nth-child(6) > p {
  background-color: brown;
  padding: 0.9em 6em;
}

div > aside:first-of-type {
  display: flex;
  justify-content: center;
}

div > aside:first-of-type > a {
  margin: 2em 1em;
  /*background-image: url("../images/flame_yellow.png");*/
  /*background-repeat: no-repeat;*/
  /*background-size: contain;*/
  /*background-position: bottom;*/
  /*background-color: var(--lightmode-background);*/
  width: 100;
  height: 15em;
}

body:target div[data-dark] {
  /* display: block; */
}

div[data-light] {
  display: none;
}

img[src^="images/darkmode"] {
  display: none;
}

body:target {
  background-color: var(--darkmode-background);
}

body:target a[data-dark] {
  display: none;
}


body:target aside > img {
  display: none;
}

body:target aside > a > img {
  display: none;
}
/* JA MAN */
aside > a > img[data-dark], aside > img[data-dark] {
  display: block;
  background-color: var(--header-light-background);
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

/* JA MAN */
aside > a > svg[data-dark], aside > svg[data-dark] {
  display: block;
  background-color: var(--header-light-background);
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

aside > a > svg[data-dark], aside > svg[data-dark] {
  display: block;
  background-color: var(--lightmode-background);
  background-image: url("../images/flame_yellow.png");
  background-repeat: no-repeat;
  padding: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

body:target nav {
  background-color: var(--darkmode-lighter-background);
}

body:target aside a[href="#something"] svg, body:target aside a[href="#head"] svg {
  background-color: var(--darkmode-tools-background2);
  background-image: url("../images/darkmode/flame_gray.png");
  background-repeat: no-repeat;
}

body:target a[data-light] {
  display: block;
  color: var(--lightmode-background);
  background-color: var(--darkmode-background);
  padding: 0.5em;
  text-transform: capitalize;
  font-size: 1.2em;
}

body:target img[data-light]{
  display: none;
}

body:target footer > img {
  display: none;
}

body:target footer > img[data-light] {
  display: block;
  filter: saturate(3) drop-shadow(8px 4px 6px black);
}

/* All images(items) should have the same size by default */
body > div > main > div > img {
  width: 6em;
  height: 6em;
}

main > div > svg {
  width: 100%;
  height: 100%;
}

/* -------------------- Header -------------------------- */

body > header {
  text-align: center;
  display: flex;
}

body > header nav {
  flex: 1;
}

body > header div {
  flex: 3;
  animation: spinningHeader 3s ease-in-out infinite backwards;
}

@keyframes spinningHeader {
  0% {
    transform: rotateY(0);
  }
  25% {
    transform: rotateY(180deg);
  }
  50% {
    transform: rotateY(270deg);
  }
  75% {
    transform: rotateY(360deg);
  }
  100% {
    transform: rotateY(0);
  }
}

body > header > div > h1 {
  margin: 0;
  color: #A93028;
  text-shadow: 2px 2px #583D34;
  font-size: 4em;
  font-family: 'Fredoka One', cursive;
  text-transform: uppercase;
  padding-top: 0.3em;
  /* animation: SpecialSpinningHeader 3s ease-in-out infinite forwards alternate; */
}


body > header > div > p {
  font-family: 'Krona One', sans-serif;
  margin-top: 0;
  margin-bottom: 0;
}

/* -------------------- Header -------------------------- */

aside > img, aside > a > img {
  width: 10em;
  height: 10em;
}

aside > svg, aside > a > svg {
  width: 10em;
  height: 10em;
  margin: 2em 1em;
}

body > div > aside:nth-child(2) {
  order: 1;
}

body > div > aside:nth-child(3) {
  order: 3;
}


/* Knife tool turn on hover */
body > div > aside:nth-child(1) > a:nth-child(1) > img:hover {
  transform: rotate(-20deg);
}

body > div > aside:nth-child(1) > a:nth-child(1) > svg:hover {
  transform: rotate(-20deg);
}


html:target > body {
  cursor: url('../images/knife_bold_opti.png'), auto;
}

html:target > body:active {
  cursor: url('../images/knifed_bold_opti.png'), auto;
}


head:target ~ body {
  cursor: url('../images/Hammer.png'), auto;
}

head:target ~ body:active {
  cursor: url('../images/hammered.png'), auto;
}

/* Hammer tool turn on hover */
body > div > aside:nth-child(1) > a:nth-child(2) > img:hover {
  transform: rotate(-20deg);
}

/* Hammer tool turn on hover */
body > div > aside:nth-child(1) > a:nth-child(2) > svg:hover {
  transform: rotate(-20deg);
}

/* Ketchup turn on hover */
/* Ketchup turn on hover darkmode */
body > div > aside:nth-child(3) > img:nth-child(1):hover, body > div > aside:nth-child(3) > img:nth-child(2):hover {
  transform: rotate(-20deg);
}

/* Mayonnaise  turn on hover */
/* Mayonnaise  turn on hover darkmode */
body > div > aside:nth-child(3) > img:nth-child(3):hover, body > div > aside:nth-child(3) > img:nth-child(4):hover {
  transform: rotate(-20deg);
}

body > div > aside:nth-child(5) {
  display: flex;
  justify-content: center;
  margin-top: 5em;
}

body > div > aside:nth-child(5) > div > div {
  text-align: center;
  padding: 1em;
  border-radius: 38% 62% 24% 76% / 30% 30% 70% 70%;
  font-weight: bold;
  font-size: 1.2em;
}

body > div > aside:nth-child(5) > div > div > p {
  /*text-align: center;*/
}

/* Floating burger */
/* Darkmode burger */
body > div > main > div:nth-child(1) > img, body > div > main > div:nth-child(2) > img {
  animation: floatBurger 2s ease-in-out infinite;
}

@keyframes floatBurger {
	0% {
		transform: translateY(0);
	}
	50% {
		transform: translateY(30%);
	}
	100% {
		transform: translateY(0);
	}
}

/* Floating fries */
/* Darkmode fries */
body > div > main > div:nth-child(4) > img, body > div > main > div:nth-child(5) > img {
  animation: floatFries 2s ease-in-out infinite;
}

@keyframes floatFries {
  0%   {
    transform: translateY(0);
  }
  50%  {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}


/* Floating hotdog */
/* Darkmode hotdog */
body > div > main > div:nth-child(7) > img, body > div > main > div:nth-child(8) > img {
  animation: floatHotdog 2s ease-in-out infinite;
}

@keyframes floatHotdog {
  0%   {
    transform: translateY(0);
  }
  50%  {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

/* Floating chicken wing */
/* Darkmode chicken wing */
body > div > main > div:nth-child(10) > img, body > div > main > div:nth-child(11) > img {
  animation: floatChickenwing 2s ease-in-out infinite;
}

@keyframes floatChickenwing {
  0%   {
    transform: translateY(0);
  }
  50%  {
    transform: translateY(30%);
  }
  100% {
    transform: translateY(0);
  }
}

body > footer {
  display: flex;
  justify-content: center;
  margin-top: 10em;
}

/* Footer */
body > footer > img {
  width: 10em;
  height: 10em;
  /* h-shadow v-shadow blur */
  filter:  saturate(3) drop-shadow(8px 4px 6px black);
}


main {
  display: flex;
  flex-wrap: wrap;
  order: 2;
  justify-content: center;
  align-content: center;
  margin-top: 5em;
}

main > div {
  display: flex;
  justify-content: center;
  background-color: #b5471463;
  width: 250px;
  height: 250px;
  margin: 10px;
  flex-wrap: wrap;
  border-radius: 63% 37% 70% 30% / 41% 85% 15% 59%;
}

main > span > img {
  display: inline-block;
  position: relative;
  left: -300px;
  height: 1.5em;
  width: 1.5em;
  top: 1px;
}

svg {
  /*width: 34%;*/
  width: 10em;
  height: 10em;
  margin: 2em 1em;
}

/* -------------------- Hot dog -------------------------- */

/* .curry:hover */
#HotDog:hover #move{
  /* background-color: purple; */
  animation: moveHotDog 0.5s ease-in-out 1;
  /* animation: moveHotDog 0.5s ease-in 1; */
}

#HotDog:focus ~ #prijs3 {
  display: block;
  background-image: url("../images/bakje.png");
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  top: 6em;
  background-size: 7em auto;
  width: 100%;
  background-color: #b5471463;
  text-decoration: underline overline;
  background-position: center;
  text-align: center;
  padding: 1em;
  border-radius: 38% 62% 24% 76% / 30% 30% 70% 70%;
}

#prijs3 p {
  padding-left: 0.3em;
}

#HotDog {
  animation: floatHotdog 1s steps(2, start) infinite;
}

#HotDog #broodje, #HotDog .worst {
  fill: var(--lightmode-background);
}

@keyframes moveHotDog {
  0% { transform: translateX(0);}
  100% { transform: translateX(2px);}
}

/* -------------------- Hot dog -------------------------- */

/* -------------------- Fries -------------------------- */

#Fries:hover #fries_group {
  animation: moveFries 0.5s ease-in-out 1;
}

#Fries {
  animation-name: floatFries;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#Fries:focus ~ #prijs2{
  display: block;
  background-image: url("../images/bakje.png");
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  top: 6em;
  background-size: 7em auto;
  width: 100%;
  background-color: #b5471463;
  text-decoration: underline overline;
  background-position: center;
  text-align: center;
  padding: 1em;
  border-radius: 38% 62% 24% 76% / 30% 30% 70% 70%;
}

#prijs2 p {
  padding-left: 0.3em;
}

#Fries path#bucket {
  fill: var(--lightmode-background);
}

@keyframes moveFries {
  0% { transform: translateY(0);}
  100% { transform: translateY(-2px);}
}

/* -------------------- Fries -------------------------- */

/* -------------------- Chicken wing -------------------------- */

#Chicken_wing:hover #bone_group {
  animation: moveChicken 0.5s ease-in-out 1;
}

#Chicken_wing:focus ~ #prijs4 {
  display: block;
  background-image: url("../images/bakje.png");
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  top: 6em;
  background-size: 7em auto;
  width: 100%;
  background-color: #b5471463;
  text-decoration: underline overline;
  background-position: center;
  text-align: center;
  padding: 1em;
  border-radius: 38% 62% 24% 76% / 30% 30% 70% 70%;
}

#prijs4 p {
  padding-left: 0.3em;
}

#Chicken_wing {
  animation: floatChickenwing 3s ease-out infinite;
}

@keyframes moveChicken {
  0% { transform: translateX(0);}
  100% { transform: translateX(2px);}
}

/* -------------------- Chicken wing -------------------------- */

/* -------------------- Burger -------------------------- */

#burger:hover .movable {
  animation: moveBread 0.5s ease-in-out 1;
}

#burger:focus polygon.cheese_1, #burger:focus ~ #prijs1 {
  display: block;
  background-image: url("../images/bakje.png");
  background-repeat: no-repeat;
  position: relative;
  z-index: 2;
  top: 6em;
  background-size: 7em auto;
  width: 100%;
  background-color: #b5471463;
  text-decoration: underline overline;
  background-position: center;
  text-align: center;
  padding: 1em;
  border-radius: 38% 62% 24% 76% / 30% 30% 70% 70%;
}

#prijs1 p {
  padding-left: 0.3em;
}

#burger {
  animation: floatBurger 1s ease-in-out infinite;
}

#burger polygon.cheese_1 {
  fill: var(--lightmode-background);
}

@keyframes moveBread {
  0% { transform: translateY(0);}
  100% { transform: translateY(-3px);}
}

/* -------------------- Burger -------------------------- */

#prijs1, #prijs2, #prijs3, #prijs4 {
  display: none;
}

.food_tags {
  font-size: 2em;
  font-weight: bolder;
  background-color: black;
  color: brown;
  padding: 0.2em 0.5em;
  border-top: 3px solid red;
  border-bottom: 3px solid red;
}

div > section:nth-child(7){
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 5em;
}

section > svg {
  width: 10em;
  height: 10em;
}

section > div[data-dark] {
  display: flex;
  justify-content: center;
  background-color: #b5471463;
  width: 250px;
  height: 250px;
  flex-wrap: wrap;
  border-radius: 63% 37% 70% 30% / 41% 85% 15% 59%;
  margin: 10px;
}
/* COLA */
section > div[data-dark]:nth-child(1) > div > p {
  font-weight: bold;
  font-size: 1.2em;
  color: red;
}

/* SPRITE */
section > div[data-dark]:nth-child(2) > div > p {
  font-weight: bold;
  font-size: 1.2em;
  color: green;
}

/* FANTA */
section > div[data-dark]:nth-child(3) > div > p {
  font-weight: bold;
  font-size: 1.2em;
  color: #fbc460;
}

/* MILKSHAKE */
section > div[data-dark]:nth-child(4) > div > p {
  font-weight: bold;
  font-size: 1.2em;
  color: deeppink;
}

#cola {
  fill: red;
  margin: 2em 1em 0;
}

#sprite {
  fill: green;
  margin: 2em 1em 0;
}

#fanta {
  fill: #fbc460;
  margin: 2em 1em 0;
}

#milkshake {
  fill: deeppink;
  margin: 2em 1em 0;
}

/*svg[data-dark-test] {*/
/*  display: none;*/
/*}*/

/*#darkmode:target {*/
/*  !*display: none;*!*/
/*  background-color: cornflowerblue;*/
/*  padding: 1em;*/
/*}*/


